{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/navbar.css') }}">
{% endblock %}

{% block body %}
    <header>
        <nav id="navbar">
            <div style="nav-wrapper">
                <ul>
                    <li>
                        <a href="{{ path('planemodel_index') }}">Avions</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_index') }}">Reservations</a>
                    </li>
                    <li>
                        <a href="{{ path('flight_index') }}">Vols</a>
                    </li>
                    <li>
                        <a href="{{ path('site_index') }}">Terrains</a>
                    </li>
                    <li>
                        <a href="{{ path('review_index') }}">Reviews</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <section>
        <h1>Welcome to Flyaround!</h1>
        <p>Under construction...</p>
    </section>
{% endblock %}


