{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>User Rated</th>
            <th>Review Author</th>
            <th>Review</th>
            <th>Publication Date</th>
            <th>note</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.userRated.name }}</td>
                <td>{{ review.reviewAuthor.name }}</td>
                <td>{{ review.text }}</td>
                <td>{% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ review.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('review_new') }}">Create a new Review</a>
        </li>
    </ul>
{% endblock %}